<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-2 mt-5">
            <div class="card">
                <router-outlet></router-outlet>
            </div>
            <div class="text-center mt-3">
                <p class="text-muted">IPT Angular 21 Boilerplate - Email Sign Up with Verification, Authentication &amp; Forgot Password</p>
                <p><a href="https://github.com/sunrakudev" target="_blank">Earl Justine Coyoca</a></p>
            </div>
        </div>
    </div>
</div>